<h1>List Users</h1>


<table border="1">
    <thead>
        <th> Sno</th>
        <th>Task name</th>
        <th>Status</th>
        <th>Created Date</th>
        <th>Actions</th>


    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Harshil Parlikar</td>
            <td>completed</td>
            <td>01-Aug-2022</td>
            
              <td>  <a href="url">Edit</a> </td>
            </tr>
                <tr>

                <td>2</td>
            <td>Install git</td>
            <td>PENDING</td>
            <td>01-Aug-2022</td>
            
             <td>   <a href="url">Edit</a> </td>
        </tr>

        <tr>

            <td>3</td>
        <td>Vidhya</td>
        <td>PENDING</td>
        <td>01-Aug-2022</td>
        
         <td>   <a href="url">Edit</a> </td>
    </tr>

    <tr>

        <td>4</td>
    <td>install VPN</td>
    <td>PENDING</td>
    <td>01-Aug-2022</td>
    
     <td>   <a href="url">Edit</a> </td>
</tr>
    </tbody>
</table>
